body {
    background-color: rgb(40, 75, 40);
}
header {
    background-color: white;
    border: solid rgb(134, 73, 73) thick;
}
nav {
    background-color: white;
    border: solid rgb(134, 73, 73) thick;
    margin: 10px;
}
nav li {
    display: inline;
    padding: 8px;
}
main {
    background-color: white;
    border: solid rgb(134, 73, 73) thick;
}
footer {
    background-color: white;
    border: solid rgb(134, 73, 73) thick;
    margin: 20px;
}
footer ul {
    list-style-type: none;
}
.image01 {
    width: 700px;
    height: 400px;
    padding: 2px;
    float: left;
}
.image02 {
    width: 450px;
    height: 450px;
    padding: 2px;
    transform: rotate(90deg);
    float: right;
}
.home-image {
    padding: 8px;
}
.venice01 {
    text-align: right;
    clear: right;
}
.venice02 {
    clear: both;
}
.intro-format {
    padding: 8px;
}
.image-about {
    transform: rotate(90deg);
    height:400px;
    width: 500px;
    float: left;
    clear: none;
}
.about01 {
    clear: none;
}